.usp-banner {
  overflow: hidden;
  margin: 0 0 10px;

  &__row {
    margin-left: -5px;
    margin-right: -5px;
  }

  &__col {
    padding-left: 5px;
    padding-right: 5px;
  }

  &__inner {
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba($color-carnation-pink, 0.2);
    text-align: center;
  }

  &__icon-wrap {
    margin: 0 0 15px;
  }

  &__icon {
    max-width: 45px;
    object-fit: scale-down;
  }

  &__title {
    @include poppins(600);
    @include text(16px, 24px, $color-black);
    text-transform: uppercase;
  }
}
