// usage: @include button(type, size);
// types: main, wire, none
// sizes: normal(any), big, small, tiny
// defaults go to button framework

@mixin button($type: none) {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: normal;
  text-decoration: none;
  user-select: none;

  @if $type == main {
    @include poppins(500);
    @include text(18px, 20px, $color-white);
    @include transition(background-color);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    background-color: $color-black;
    border-radius: 0;
    height: auto;
    display: inline-block;
    box-shadow: 0 0 21px 8px rgba($color-black, 0.32);
    box-shadow: -3px 5px 18px 1px rgba($color-black, 0.12);

    &:not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        background: none;
        color: $color-white;
        background-color: $color-carnation-pink;
      }

      &:focus {
        color: $color-white;
      }
    }

    &:disabled {
      background: none;
      cursor: not-allowed;
      background-color: $color-disabled-border;
    }
  } @else if $type == wire {
    @include poppins(500);
    @include text(14px, 20px, $color-black, 2.5px);
    @include transition(background-color, color);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 11px 23px;
    background: none;
    background-color: transparent;
    border: 2px solid $color-black;
    border-radius: 0;
    height: auto;
    display: inline-block;

    &:not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        background: none;
        background-color: $color-black;
        color: $color-white;
      }
    }

    &:disabled {
      cursor: not-allowed;
      background: none;
      background-color: transparent;
      color: $color-disabled;
      border-color: $color-disabled;
    }
  }

  @include media-query($small) {
    @if $type == main {
      font-size: 11.5px;
    } @else if $type == wire {
      font-size: 11.5px;
    }
  }
}

@mixin button-width {
  @include media-query($medium-up) {
    max-width: 225px;
    width: 100%;
    display: block;
  }
}
