<div class="container">
  {% if section.settings.title %}
    <h2 class="index-story__title">{{ section.settings.title }}</h2>
  {% endif %}

  {% if section.settings.content %}
    <div class="index-story__content">{{ section.settings.content }}</div>
  {% endif %}

  {% if section.settings.link_text %}
    <div class="index-story__more-wrap">
      <a href="{{ section.settings.link_url }}" class="index-story__more-link">{{ section.settings.link_text }} &#x2192;</a>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Our Story",
    "class": "index-story",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "More link text"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "More link url"
      }
    ],
    "presets": [{
        "name": "Our Story",
        "category": "Front Page"
    }]
  }
{% endschema %}

